<a href="https://colab.research.google.com/github/Creatrohit9/AIRBNB-PROJECT-1-CAPSTON/blob/main/Copy_of_MD1WK4ROHIT_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

#   Start This journey with full of Ups and downs with some Motivational Quotes

#''Meri Kasti Mai Bhavar Bandhkar Duniya Khus Hai
# Duniya Ddekhegi Ki Sahil Per pahucha Kaun hai''

# **Life doesnâ€™t get easier or more forgiving, we get stronger and more resilient**.
~ Steve Maraboli

# **Ultimately, the greatest lesson that COVID-19 can teach humanity is that we are all in this together**.
~ Kiran Mazumdar-Shaw

#    We did lots of google as well kaggle for this research analysis to see work approch of
#    multiple data scientist .

0.1-**Case study-** 
   the purpose of this case study is to analyse the pricing trend between property type and neighbourhood or any  correlation observation  between review and price

**0.2-Data cleaning,transformation and Analysis**

# *Libraries Prepration for the  Data Analysis and plot*

In [13]:

import pandas as pd
import numpy as np
import seaborn as sns
from numpy import math        #used to perform math on scalar data
from numpy import loadtxt     #fast reader for simple text files
import matplotlib.pyplot as plt
%matplotlib inline  
import matplotlib.image as mpimg      # for reading image as an array

import warnings
warnings.filterwarnings('ignore')   #we importing this lib because we are filtering tha data lot so don't feel struck just go on

In [14]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : b5958ee1999e9aead1938c0bba2b674378807b3d
python           : 3.7.11.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.104+
Version          : #1 SMP Sat Jun 5 09:50:34 PDT 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.1.5
numpy            : 1.19.5
pytz             : 2018.9
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.24
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 5.5.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : 1.3.2
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.13.3
pyarrow          : 3.0.0
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.4.22
tables           : 3.4.4
tabulate         : 0.8.9
xarray           : 0.18.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.51.2

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
file_path='/content/drive/MyDrive/data files/Airbnb NYC 2019.csv'      #file path reading or csv upload to coolab from drive
airbnb_df=pd.read_csv(file_path)

# **Data Summary**

In [17]:
#read first five row  of data 
airbnb_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [28]:
#Finding Host names
airbnb_df['host_name']

0                 John
1             Jennifer
2            Elisabeth
3          LisaRoxanne
4                Laura
             ...
48890          Sabrina
48891          Marisol
48892    Ilgar & Aysel
48893              Taz
48894       Christophe
Name: host_name, Length: 48895, dtype: object



```
# This is formatted as code
```

# *Road Map for data Analysis*
Regarding host-
  -Who are the top earners
  -Is there any relationship between monthly earning and price


Regarding the Neighbourhood- 


  -Any particular location getting maximum number of bookings
  -Price relation with respect to location

Regarding the reviews-

-Relationship between Quality and price


Regarding Price-



price vs amenities

Price vs location

In [18]:
#no or row and columns we are going to deal
airbnb_df.shape

(48895, 16)

In [19]:
#Name of columns we have in our data base 
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

# **Descriptive Analysis**

In [20]:
#value through we are goin to deal
airbnb_df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

-All colunms except latitude and longitude have a big gap between the third quartilevalue and the max value.
-The min value of the price is 0

In [21]:
# data information we have
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

we have 10052 missing value in column such last_review  and reviews_per_month

**Start Data Cleaning**

In [22]:
#drop all that column which is not useful currently for doing data analysis
airbnb_df.drop(['id','last_review'],axis=1,inplace=True)

In [23]:
airbnb_df.isnull().sum()

name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Google give us data that most of the customer serching in the price range of 20 dollar to 8000 dollar so we make price in that range for easy analysis

In [24]:
airbnb_df['reviews_per_month'].fillna(0,inplace=True)    # replacing all the null value from the zero
airbnb_df['reviews_per_month']

0        0.21
1        0.38
2        0.00
3        4.64
4        0.10
         ...
48890    0.00
48891    0.00
48892    0.00
48893    0.00
48894    0.00
Name: reviews_per_month, Length: 48895, dtype: float64

In [25]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   host_id                         48895 non-null  int64
 2   host_name                       48874 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  number_of_reviews               48895 non-null  int64
 11  reviews_per_month               48895 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.2+ MB

In [26]:
# function to replace the all price value not in the given range
def replace_price_value(price):
  '''this function is used to  limit the value within t
  if price<20 or price>8000:
    price=105.98
  else:
    price=price
  return price

SyntaxError: ignored

In [ ]:
# function call for the price change for the pice table
airbnb_df['price']=airbnb_df['price'].apply(replace_price_value)

In [ ]:
# To check the price get changed or not
airbnb_df.describe()

In [ ]:
#find the maximum no of selection of room type
airbnb_df['room_type'].value_counts().idxmax()

In [ ]:
#now these are the room type behalf on which we make further analysis 
airbnb_df_refine=airbnb_df['room_type'].value_counts()

In [ ]:
airbnb_df_refine

In [ ]:
airbnb_df['room_type']

In [ ]:
airbnb_df.mean() #for compairing the value for each room type

In [ ]:
# table showing the data relation between night stay and room type
room__type_min_night=airbnb_df.groupby('room_type')['minimum_nights'].mean().reset_index()
room__type_min_night

In [ ]:
#first plot for room type and mean of minimum_nights
visual1=sns.barplot(x='room_type',y='minimum_nights',data=room__type_min_night,palette="Blues_d")
visual1.set_title('room type and minimum no of night stay  ')
visual1.set_ylabel('minimum night')
visual1.set_xlabel('room type')
visual1.set_xticks(visual1.get_xticks())

In [ ]:
#finding the costly neighbourhood group for the giving room type
costly_neighbourhood_group=airbnb_df.groupby(['neighbourhood_group','room_type'])['price'].mean().unstack()
costly_neighbourhood_group

Manhattan is most expensive for the all the given room type.After google it on map we find it's situated at mid of the country so more denser and also have important financial status, so movment of finacial act happend here.

In [ ]:
# second plot for finding the costly neighbourhood_group
visual2=costly_neighbourhood_group.plot(kind='bar')
visual2

In [ ]:
#ROOM TYPE IN EACH NEIGHBOURHOOD GROUP
room_type_neighbourhood_group=airbnb_df.groupby(['neighbourhood_group','room_type'])['room_type'].count().unstack()
room_type_neighbourhood_group

In [ ]:
# third plot for room type and neighbourhood_group
visual3=room_type_neighbourhood_group.plot(kind='bar')
visual3

Plot clearly says that shared room are  least populated.that most of the people select privacy and safety over the less price.

In [ ]:
# finding from the review per month
airbnb_df['reviews_per_month']
sns.distplot(airbnb_df['reviews_per_month'])

In [ ]:
#find the most busy neighbourhood group
most_busy_neighbour_group=airbnb_df.groupby(['neighbourhood_group'])['reviews_per_month'].mean().reset_index()
most_busy_neighbour_group

Queens and staten island are the most busiest neighbourhood group because of  the average price

In [ ]:
#for finding correlation data between price and review per month
niegh_group_traffic_relation=airbnb_df.groupby('neighbourhood_group')['reviews_per_month','price'].mean()
niegh_group_traffic_relation

In [ ]:
#fourth plot for finding the correlation 
visual4=sns.heatmap(niegh_group_traffic_relation.corr(),vmin=-1,annot=True)
visual4

from the above plot we can understand that demand and price is in a negative correlation with each other.that's why manhattan have the lowest review even it's is more demanding

In [ ]:
# insights from the price and reviews per month
price_per_review=airbnb_df[['price','reviews_per_month']]
price_per_review

In [ ]:
# fifth plot for direct corr between the price and review per month
plt.figure(figsize=(8,5))
visual5=sns.heatmap(price_per_review.corr(),vmin=-1,annot=True)
visual5

The hosts with the most listing count

In [ ]:
# creating table for the most call host
host_with_most=airbnb_df[['host_name','calculated_host_listings_count']]
sorted_host_with_most=host_with_most.sort_values('calculated_host_listings_count',ascending=False)
first_three_top=sorted_host_with_most.drop_duplicates(subset=['host_name','calculated_host_listings_count'],keep='first')
final_data=first_three_top[0:3]
final_data

In [ ]:
# sixth plot for most listing host
visual6=sns.barplot(x='host_name',y='calculated_host_listings_count',data=final_data,palette="Blues_d")
visual6.set_title('most listed neighbour')
visual6.set_ylabel('calculated_host_listings_count')
visual6.set_xlabel('host_name')
visual6.set_xticks(visual1.get_xticks())

After doing some google research we found that sonder is hotel chain company which used airbnb for listing its property.it's hotel is based on manhatten mostly seven district which is giving below ..

In [ ]:
# a finding the unique value from neighbourhood column for sonad hotel chain
sondar_hotel_chain=airbnb_df.loc[airbnb_df['host_name']=='Sonder (NYC)']
sondar_hotel_chain['neighbourhood'].unique()

In [ ]:
sondar_hotel_chain['room_type'].unique()

In [ ]:
#for analyis the data granularly we creat a each of the neighbourhood group function
nbgh_manhattan=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Manhattan'].reset_index()
nbgh_Bronx=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Bronx'].reset_index()
nbgh_Brooklyn=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Brooklyn'].reset_index()
nbgh_Queens=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Queens'].reset_index()
nbgh_Staten_Island=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Staten Island'].reset_index()

In [ ]:
#sorting it by price for each neighbourhood group
most_expensiv_neighbourhood_manhattan=nbgh_manhattan.groupby(['neighbourhood_group','neighbourhood'])['price'].mean().reset_index().sort_values('price',ascending=False)
most_expensiv_neighbourhood_Bronx=nbgh_Bronx.groupby(['neighbourhood_group','neighbourhood'])['price'].mean().reset_index().sort_values('price',ascending=False)
most_expensiv_neighbourhood_Brooklyn=nbgh_Brooklyn.groupby(['neighbourhood_group','neighbourhood'])['price'].mean().reset_index().sort_values('price',ascending=False)
most_expensiv_neighbourhood_Queens=nbgh_Queens.groupby(['neighbourhood_group','neighbourhood'])['price'].mean().reset_index().sort_values('price',ascending=False)
most_expensiv_neighbourhood_Staten_Island=nbgh_Staten_Island.groupby(['neighbourhood_group','neighbourhood'])['price'].mean().reset_index().sort_values('price',ascending=False)

In [ ]:
#now code for finding top three neighbourhood from each group
top_three_manhattan=most_expensiv_neighbourhood_manhattan[0:3].reset_index()
top_three_Bronx=most_expensiv_neighbourhood_Bronx[0:3].reset_index()
top_three_Brooklyn=most_expensiv_neighbourhood_Brooklyn[0:3].reset_index()
top_three_Queens=most_expensiv_neighbourhood_Queens[0:3].reset_index()
top_three_Staten_Island=most_expensiv_neighbourhood_Staten_Island[0:3].reset_index()

In [ ]:
table_top_three_neighbourhood_group=pd.concat([top_three_manhattan,top_three_Bronx,top_three_Brooklyn,top_three_Queens,top_three_Staten_Island],axis=1)

In [ ]:
table_top_three_neighbourhood_group

In [ ]:
#seventh plot manhattan top three ..
plt.figure(figsize=(8,5))
visual7=top_three_manhattan.plot(x='neighbourhood',y='price',kind='barh')
visual7

In [ ]:
# eight plot for Bronx top three
plt.figure(figsize=(8,5))
visual8=top_three_Bronx.plot(x='neighbourhood',y='price',kind='barh')
visual8

In [ ]:
# nine plot for Brooklyn top three
plt.figure(figsize=(8,5))
visual9=top_three_Brooklyn.plot(x='neighbourhood',y='price',kind='barh')
visual9

In [ ]:
# tenth plot for Queens top three
plt.figure(figsize=(8,5))
visual10=top_three_Queens.plot(x='neighbourhood',y='price',kind='barh')
visual10

In [ ]:
# eleventh plot for Staten_Island top three
plt.figure(figsize=(8,5))
visual11=top_three_Staten_Island.plot(x='neighbourhood',y='price',kind='barh')
visual11

In [ ]:
# checking for the next data analysis 
airbnb_df.head()

In [ ]:
# most traffic in a perticular neghbourhood_group
niegh_group_traffic_relation=airbnb_df.groupby('neighbourhood_group')['reviews_per_month','price'].mean()
niegh_group_traffic_relation

In [ ]:
visual12=sns.heatmap(niegh_group_traffic_relation.corr(),vmin=-1,annot=True)
visual12

In [ ]:
plt.figure(figsize=(10,6))
visula13=sns.scatterplot(x='price',y='reviews_per_month',hue='neighbourhood_group',palette=['green','red','orange','blue','yellow'],legend='full',data=airbnb_df)
visula13

In [ ]:
# room type availabilty relation
room_type_avail=airbnb_df.groupby('room_type')['availability_365'].mean().reset_index()
room_type_avail

In [ ]:
plt.figure(figsize=(10,5))
visual14=room_type_avail.plot(x='room_type',y='availability_365',kind='bar')
visual14

Inside the Neighbourhood

In [ ]:
#let's examin some intrested unique neighbourhood value
airbnb_df.neighbourhood.unique()

In [ ]:
#out of 48894 their are how much no of unique value for the respective neighbourhood
len(airbnb_df.neighbourhood.unique())

In [ ]:
#let's examin some intrested unique room_type value
airbnb_df.room_type.unique()

In [ ]:
room__type_count=airbnb_df.groupby(airbnb_df['room_type']).count().reset_index()  # collecting count respect to room type
room__type_count

In [ ]:
room__type_count.index=room__type_count['room_type']
visual15=room__type_count.plot.pie(y='host_id',legend=False,title='ROOM TYPES',figsize=(10,5))
visual15

In [ ]:
#calculate the most listed  host id who takes maximum benifits from this platform 
top_host=airbnb_df.host_id.value_counts().head(10).reset_index()

In [ ]:
top_host

In [ ]:
# finding with already existing columns
top_host_check=airbnb_df.calculated_host_listings_count.max()

In [ ]:
top_host_check

In [ ]:
#setting size of the figure for the future visualization
sns.set({'figure.figsize':(10,8)})
sns.set_style('white')

In [ ]:
top_host_df=pd.DataFrame(top_host)
top_host_df

In [ ]:
top_host_df.reset_index(inplace=True)
top_host_df

In [ ]:
top_host_df.rename(columns={'index':'T-host','host_id':'host_Value'},inplace=True)

In [ ]:
top_host_df

In [ ]:
visual6=sns.barplot(x='T-host',y='host_Value',data=top_host_df,palette="Blues_d")
visual6.set_title('top host with the most listed in NYC ')
visual6.set_ylabel('host counts')
visual6.set_xlabel('top host')
visual6.set_xticks(visual1.get_xticks())

In [ ]:
#insights from our neighbourhood 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx
#for Brooklyn
price_1=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Brooklyn']
price_1list=price_1[['price']]
#'Manhattan
price_2=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Manhattan']
price_2list=price_2[['price']]
#'Queens
price_3=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Queens']
price_3list=price_3[['price']]
#'Staten island
price_4=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Staten Island']
price_4list=price_4[['price']]
#Bronx
price_5=airbnb_df.loc[airbnb_df['neighbourhood_group']=='Bronx']
price_5list=price_5[['price']]
final_price_list=[price_1list,price_2list,price_3list,price_4list,price_5list]

In [ ]:
final_price_list   #give us raw data

In [ ]:
# known values in neighbourhood_group column by using for loop creating a stats table
list_of_price=[]
new_list=['Brooklyn','Manhattan','Queens','Staten Island','Bronx']

for x in final_price_list:
    a=x.describe(percentiles=[0.25, 0.50, 0.75])
    a=a.iloc[3:]
    a.reset_index(inplace=True)
    a.rename(columns={'index':'Stats'}, inplace=True)
    list_of_price.append(a)
# names of the price column to the area name for easier reading of the table       
list_of_price[0].rename(columns={'price':new_list[0]}, inplace=True)
list_of_price[1].rename(columns={'price':new_list[1]}, inplace=True)
list_of_price[2].rename(columns={'price':new_list[2]}, inplace=True)
list_of_price[3].rename(columns={'price':new_list[3]}, inplace=True)
list_of_price[4].rename(columns={'price':new_list[4]}, inplace=True)
#finilizing our dataframe for final view    
stat_df=list_of_price
stat_df=[df.set_index('Stats') for df in stat_df]    #list comprihension for
stat_df=stat_df[0].join(stat_df[1:])
stat_df

In [ ]:
plt.plot(stat_df);

In [ ]:
#after seeing statistic table we can easily observ that we have some extream value so for we need to remove it for better visualisation 
# creating a sub data frame with value less than 500
sub_data=airbnb_df[airbnb_df.price<500]
sub_data

In [ ]:
#fining the top ten neighbourhood
airbnb_df.neighbourhood.value_counts().head(11).reset_index()

In [ ]:
#combine this data with roomtype for inrich the visualisation
sub_data2=airbnb_df.loc[airbnb_df['neighbourhood'].isin(['Williamsburg','Bedford-Stuyvesant','Harlem','Bushwick','Upper West Side','Hell\s kitchen','East Village','Upper East Side','Crown Heights','Midtown','East Harlem'])]
#using catplot to represnting mutltiple atribute together
visual17=sns.catplot(x='neighbourhood',hue='neighbourhood_group',col='room_type',data=sub_data2,kind='count')
visual17.set_xticklabels(rotation=90)

**what we can see from the above 3 sub plots.we can make comparision of distribution of attributes.y-axis and x-axis are same in both the plot.in the y-axis we take count and on the x-axis we take observation we want like here neighbourhoodtheir are two more important element:column and hue.after specifying the column and determining the hue we are able to compair and observe the y-axis and x-axis among the specified column as well colour-code.so basically what we observerd the shared room type have less no of intrest.we can seen from the top 10 neighbourhood only Manhattan and Brooklyn are the most travel destination theirfore would have the most listing availability.we can also observed Bedford-stuyvesent and williamsburg are most populated from Manhattan and harlem from Brooklyn**

In [ ]:
# now take some insights from longitude and latitude
#let's draw scatter plot 
plt.figure(figsize=(10,8))
visual18 =sns.scatterplot(x="longitude", y="latitude", hue="neighbourhood_group",palette=['blue','green','yellow','grey','red'], legend='full',data=sub_data)

At the End of jouney now we have extract some usefull Elusive from the giving data.
now we can suggest for Airbnb CEO with some Exquisite conclusion



*   Most airbnb is located in Manhattan and Brooklyn. Due to capital income state Manhattan is most Expensive.
*After looking at the  correlation and price and demand table we can say that Queen is most afforadable neighbourhood_group.
*Correltion graph shows that in the U.S people prefer privacy then the price, so the private room is most preferable room type.
*Correlation between price and review shows that paying extra always be less satisfactory so airbnb with more review would be more affordable than the average one

After reading  please all team members please update your usefull suggestion

*  Rohit bhadauriya-Manhattan should reduce the price bar for the affordable range for increasing their review mark and as the shared have less no of call from the customer side so i think the neighbourhood or the hotel chain should remove it from the list.

*   List item